/* * {
    box-sizing: border-box;
}
p{
    background: rgb(212, 160, 160);
    color: aquamarine;}
.img{
    width: 1180px;
    margin-left: 10%;
    margin-right: 10%;
 /* display: flex;
 justify-content: center;
 height: auto; */
} */
